APP_NAME=MovieGate
APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_TIMEZONE=UTC
APP_KEY=change-me
APP_UID=1000
APP_GID=1000
JWT_SECRET=change-me
JWT_TTL=3600
JWT_REFRESH_TTL=1209600
JWT_EMAIL_VERIFICATION_TTL=86400
JWT_PASSWORD_RESET_TTL=3600
DB_DSN=mysql:host=mysql;port=3306;dbname=moviegate
DB_USERNAME=moviegate
DB_PASSWORD=moviegate
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DATABASE=0
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
TMDB_BASE_URI=https://api.themoviedb.org/3/
TMDB_API_KEY=change-me
SOAP_ENDPOINT=https://example.com/soap
SOAP_LOGIN=change-me
SOAP_PASSWORD=change-me
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_PERIOD=60
FEATURE_REGISTRATION_ENABLED=true
FEATURE_RECOMMENDATIONS_ENABLED=false
LOG_LEVEL=debug
XDEBUG_MODE=debug,develop
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=PHPSTORM
